@import 'ice9-style-variables.styl'

/*! ////-------------------- Globales ----- */

/*! ////-------------------- Header ----- */

/*! ////-------------------- Generales -- */

.colecciones-grid
	
	.grid-item
		width 50%
		
.producto-sencillo
	
	.producto-sencillo-text
		padding-left 80px
		padding-right 80px
		
.producto-mapa
	padding 50px 100px
	
.contenedor-carrito
	padding 30px 90px

/*! ////-------------------- Footer ----- */