@import 'ice9-style-variables.styl'

/*! ////-------------------- Globales ----- */

.contenedor-general
	margin auto
	max-width 768px

.hidden-xs
	display block

/*! ////-------------------- Header ----- */

header

	.header-columna
		text-align right
		width 33.33333333333333%

		.columna-carrito
			display inline-block

		.columna-cerrar
			display inline-block
			padding-left 50px

	.header-logo
		width 33.33333333333333%

	.menu
		top 70px

		.menu-contenedor

			.menu-columnas
				float left
				text-align left
				width 33.33333333333333%

				&:last-child
					text-align right

				ul

					li
						padding-bottom 30px

						&:last-child
							padding-bottom 0

						a
							margin-right 50px
							margin-bottom 0
							display inline

			.idiomas
				text-align center

				ul
					&:first-child
						padding-bottom 30px

					li
						padding-bottom 0
						display inline-block

						a
							margin-right 0

	.submenu

		ul			
			width 25%

		.submenu-mascara
			width 50%

/*! ////-------------------- Generales -- */

.home-slide
	
	.slide-contenedor
		
		.slides
			float left
			width 50%
			
			.home-nav
				display block
				height 100%
				position absolute
				top 0
				width 100%
				
		.slide-izq
			padding-bottom 0
			padding-right 3px
			
		.slide-der
			padding-left 3px
			padding-top 0
			
.cycle-paginacion
	display none
	
.home-contenedor-columnas
	
	.home-columnas
		margin-top 0
		padding-left 15px
		padding-right 15px
		width 33.33333333333333%
		
		&:first-child
			text-align left
			
		&:last-child
			text-align right
		
		img
			height auto
			width 100%
			display block
			
		h2
			font-family Lato
			font-size 15px
			font-weight 700
			margin 0
			margin-top 10px
			
		p
			color grisSoft
			font-family Lato
			font-weight 700
			margin 0
			

.contenedor-instagram
		
	a
		width 25%
		
.contenedor-coleccion
	
	.coleccion-cuadro
			
		span
			font-size 42px
			padding 50px 80px
			
.colecciones-hero
	
	.hero-boton
		
		a
			font-size 42px
			left 85px
			padding 20px 40px
			transform(translate(0, -50%))

.colecciones-simple-hero
		
	a
		font-size 42px
		padding 20px 40px
		
.colecciones-bread
	text-align left
			
.colecciones-grid
	
	.grid-item
		width 50%
		
.producto-sencillo
	
	.producto-sencillo-text
		padding-left 80px
		padding-right 80px

.contenedor-carrito
	
	.carrito-fila
		
		.carrito-img
		.carrito-info
		.carrito-costo
			display inline-block
			margin-left -3px
			width 33.33333333333333%
		
		.carrito-info
			margin-top 0
			
			.contenedor-info
				display table
			
				.info-titulo
					float none
					width auto
						
				.info-plus
					float none
					margin-top 70px
					width auto
							
		.carrito-costo
			margin-top 0
			
			p
				text-align right
				
.contenedor-total
	text-align right
	
	.total-text
	.total-cantidad
	.total-moneda
		display inline-block
		
	.total-text
		margin-right 60px
		margin-bottom 0
		
	.total-cantidad
		margin-right 150px
		margin-bottom 0
		
	.total-moneda
		text-align left
		
		select
			padding-left 0
		
.contenedor-faq
	
	.faq-fila
			
		.fila-lateral
			margin-bottom 10px
			width 25%
			
		.fila-central			
			width 50%
			
			.central-contenido
				top 0
				position absolute
				
				p
					
					&:first-child
						margin-top 0

/*! ////-------------------- Footer ----- */