<<<<<<< Updated upstream
<div class="header-borde header-borde-cerrado">

	<div class="borde-columna"></div>

	<div class="borde-text">{{ settings.aviso-promociones-text }}</div>

	<div class="borde-columna"><img src="{{ 'ice9-image-cerrar-icon-light.svg' | asset_url }}" alt=""></div>

=======
<div class="header-borde header-borde-cerrado">

	<div class="borde-columna"></div>

	<div class="borde-text">{{ settings.aviso-promociones-text }}</div>

	<div class="borde-columna"><img src="{{ 'ice9-image-cerrar-icon-light.svg' | asset_url }}" alt=""></div>

>>>>>>> Stashed changes
</div>